/* #g {
  margin-left: 300px;
} */

.socksSVG {
  fill: red;
  /* stroke: red; */
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: right;
}
.examplebtn {
  font-family: 'Montserrat';
  font-size: 48px;
  color: #316bda !important;
  padding: 23px 50px;
  border-radius: 22px;
  border: 6px outset #7db0e5;
  background: #830c55;
  background: linear-gradient(to top, #830c55, #010c09);
}
.examplebtn:hover {
  color: #cccccc !important;
  background: #0b1804;
  background: linear-gradient(to top, #0b1804, #1491d9);
}
.cssFont_1 {
  font-family: 'Syne Tactile', cursive;
  font-size: 30px;
  letter-spacing: 0px;
  word-spacing: 7px;
  color: #3d96f5;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  position: flex;
  text-align: center;
}
body {
  background-image: url('/img/background.webp');
  background-size: cover;

  /* background-image: url(/img/fon2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.socks-container {
}

.socks-flex {
  display: flex;
}

.head {
  /* position: absolute;
  z-index: 3; */
  position: absolute;
  left: 440px;
  width: 350px;
  height: 70px;
  /* clip-path: circle(50% at 50% 50%); */
  /* clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%); */
  /* background-color: red; */
}
.sockBody {
  /* position: absolute;
  z-index: 2; */
  /* position: relative;
  position: fixed; */
  position: relative;
  top: 70px;
  left: 440px;
  width: 350px;
  height: 300px;
  /* clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%); */
  /* background-color: red; */
}

.sockBody2 {
  position: relative;
  top: 70px;
  width: 300px;
  height: 220px;
  /* clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%); */
  /* background-color: red; */
}
.heel {
  position: relative;
  z-index: 1;
  top: 70px;
  width: 350px;
  height: 220px;
  border-radius: 45% 55% 100% 0% / 0% 0% 100% 100%;
  /* clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%); */
  /* background-color: red; */
}

.smallheel {
  position: absolute;
  z-index: 2;
  top: 70px;
  top: 655px;
  left: 440px;

  width: 350px;
  height: 150px;
  border-radius: 45% 55% 100% 0% / 0% 0% 100% 100%;
  /* background-color: #010c09; */
  /* clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%); */
  /* background-color: red; */
}

.toe {
  position: relative;
  top: 70px;
  width: 140px;
  height: 220px;
  border-radius: 30% 0% 0% 30%;
  /* clip-path: polygon(44% 31%, 0% 100%, 100% 100%); */
  /* background-color: red; */
}

#head {
  width: 100px;
  height: 100px;
  clip-path: polygon(0 73%, 74% 73%, 73% 100%, 0% 100%);
}
.conteiner {
  display: flex;
  text-align: center;
  justify-content: center;
}
.register {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  width: 33%;
  margin-left: auto;
  margin-right: auto;
}
#voiti {
  display: flex;
  justify-content: center;
  text-align: center;
}
.left {
  text-align: end;
}
.exm {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 0 15px 15px 0;
  outline: none;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #444;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}
.exm:focus-visible {
  border: 1px solid #4c51f9;
  outline: none;
}
.exm:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.exm:active {
  background-color: #808080;
}
.exm:disabled {
  background-color: #eee;
  border-color: #eee;
  color: #444;
  cursor: not-allowed;
}
* {
  box-sizing: border-box;
}

main {
  /* background: linear-gradient(#ffffff, #09bd30);
  background-repeat: no-repeat;
  min-height: 90vh; */
  background-image: url('/img/giphy.gif');
  background-size: cover;
}

.linkAll {
  color: #ffd801;
  text-decoration: none;
}

.conteiner {
  max-width: 1800px;
  height: 100%;
  margin-right: 5%;
  padding: 0 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  width: 100%;
  /* margin: auto auto; */
  /* box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1); */
}

.conteinerHeader {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.headerNavMenu {
  width: 50%;
}

.headerNavList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNavItem {
  margin-left: 3%;
}

/* .backetImg {
  background-image: url('/img/корзина.png');
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 100%;
} */

.conteinerMain {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  margin-left: 3%;
}

.mainItem {
  display: flex;
  width: 50%;
}

footer {
}

.conteinerFooter {
  height: 100px;
}

.footerList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.footerItem {
  padding: 0 10px;
  display: flex;
  color: #000000;
}
.btn,
.btn-primary {
  background-color: #8783d1 !important;
  border: #8783d1 1px solid !important;
}

.btn:hover {
  background-color: #49306b !important;
  border: #49306b 1px solid !important;
}
/* стили для корзины */

.shoppingCart {
  width: 750px;
  height: 100%;
  margin: auto auto;
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #ffd801;
  font-size: 18px;
  font-weight: 400;
}

.item,
.itemfav {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item:nth-child(3),
.itemfav:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons,
.buttonsFav {
  position: relative;
  margin-right: 60px;
}

.deleteBtn,
.deleteBtnFav,
.likeBtn {
  display: inline-block;
  cursor: pointer;
}

.deleteBtn,
.deleteBtnFav {
  width: 18px;
  height: 17px;
  background: url('../img/delete-icn.svg') no-repeat center;
}

.image {
  margin-right: 50px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.minusBtn {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.plusBtn {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.minusBtn img {
  margin-bottom: 3px;
}

.plusBtn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.totalPrice {
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .item,
  .itemfav {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image img {
    width: 50%;
  }

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .buttons {
    margin-right: 20px;
  }
}

.conteinerConstructor {
  display: flex;
}

.blockImg {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #f5f5f55d;
  border-radius: 30px;
}

.blockBtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-left: 8%;
}

.colorList {
  display: flex;
  justify-content: space-around;
}

.btnLink {
  display: flex;
  margin-right: 20px;
  padding: 10px 10px;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  border: 1px solid rgb(0, 0, 0);
}

.btnLink1 {
  background: #000000;
}

.btnLink2 {
  background: #ffffff;
}

.btnLink3 {
  background: #f7fc0e;
}

.btnLink4 {
  background: #e21244;
}

.pictureList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btnLinkPic {
  display: flex;
}

h5 {
  margin-left: 9%;
  color: #8783d1 !important;
}

.divReg {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formReg {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.linkAll:hover {
  color: #5e6977;
}

.title:hover {
  color: #5e6977;
}

.headersContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  position: relative;
  left: -30px;
}

.blockIgor {
  -webkit-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  -moz-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  font-size: 12px;
  border: 2px rgb(83, 143, 207) solid;
  border-radius: 10px;
  padding: 10px;
  width: 142px;
  height: 142px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url('/img/Igor.jpg');
  background-size: cover;
}

.blockFarit {
  -webkit-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  -moz-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  font-size: 12px;
  border: 2px rgb(83, 143, 207) solid;
  border-radius: 10px;
  padding: 10px;
  width: 142px;
  height: 142px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url('/img/Farit.jpg');
  background-size: cover;
}

.blockPasha {
  -webkit-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  -moz-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  font-size: 12px;
  border: 2px rgb(83, 143, 207) solid;
  border-radius: 10px;
  padding: 10px;
  width: 142px;
  height: 142px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url('/img/Pasha.jpg');
  background-size: cover;
}

.blockNastya {
  -webkit-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  -moz-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  font-size: 12px;
  border: 2px rgb(83, 143, 207) solid;
  border-radius: 10px;
  padding: 10px;
  width: 142px;
  height: 142px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url('/img/Nastya.jpg');
  background-size: cover;
}
/* .Igor {
  height: 140px;
  position: relative;
  left: -7px;
  display: flex;
} */

.couagmir {
  height: 130px;
  position: relative;
  left: -4px;
  bottom: -5px;
  display: flex;
}

.bender {
  height: 130px;
  position: relative;
  left: -7px;
  bottom: -4px;
  display: flex;
}

.carousel-inner {
  border-radius: 13px;
  -webkit-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  -moz-box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
  box-shadow: 20px 20px 15px 0px rgba(87, 105, 118, 0.5);
}

.btnDiv {
  display: flex;
  justify-content: space-around;
}
.btnBasket {
  display: flex;
  border-radius: 10px;
  border: 1px solid #8783d1;
  background: #8783d1;
  color: #ffd801;
  padding: 2% 7%;
}
.btnBasket:hover {
  background-color: #49306b;
  border: #49306b 1px solid;
}
.btnFavorites {
  display: flex;
  border-radius: 10px;
  border: 1px solid #8783d1;
  background: #8783d1;
  color: #ffd801;
  padding: 2% 5%;
}
.btnFavorites:hover {
  background-color: #49306b;
  border: #49306b 1px solid;
}
